<div class="clr-row">
  <div class="clr-col-sm-12">
    <a [routerLink]="['/skills/', backURL]">
      <button class="btn btn-primary">Back to skills</button>
    </a>
  </div>
  <div class="clr-col-sm-12">
    <h4 class="blog-title">
      {{skillDetail.title}} blog posts
    </h4>
  </div>
  <div class="swiper-container " [swiper]="swiperSetup2">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let blog of blogs">
        <div class="blog-item-outer ">
          <img class="skill-icon" src={{skillDetail.photoUrl}} alt="">
          <h5 class="skill-heading">{{blog.title}}</h5>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
