@import "../../../appstylings.scss";
.blog-title {
    color: $light-green-text;
}
.back-to-skill {
  padding: 0px;
  margin: 0px;
}
.blog-item-outer{
  padding: 30px 0px 30px 0px;

}
.skill-icon {
    height: 30px;
    width: 30px;
}

.skill-heading {
  margin: 0px;
}
