
.aboutMeHeading1{
  font-size: 25px;
  padding-top: 25px;
  text-align: center;
  font-family: 'Lato','Helvetica Neue','Arial',sans-serif;
  color: #cb4045
}

.aboutMeIntro h1 {
  padding-top: 25px;
  font-size: 22px;
  font-family: 'Lato','Helvetica Neue','Arial',sans-serif;
}


.aboutMeContact {
  font-family: 'Lato','Helvetica Neue','Arial',sans-serif;
  color: #cb4045;
  font-size:40px;
  text-align: center;
  padding-top: 15px;
}

.aboutMeContact1 {
  font-size: 15px;
  color: #333;
  margin-top: -32px;
  margin-left:335px;
}
