nav {
       margin-top: 20px;
       }

  nav ul  {

       padding: 0;
       margin: 0;
       font-size: 17px;

      text-align: center;
       text-transform: uppercase;
      -webkit-font-smoothing: antialiased;

      .true {
        font-size: 30px;
        .colorPort {
          color: #cb4045;
          text-decoration: none;
            }
          }


        }

  nav ul li {
       display: inline-block;
       margin: 0 15px;
       text-align: center;


      }
