@import "../../../appstylings.scss";

.my-skills-heading{
    color: $white;
    text-decoration: underline;
}
.photo-outer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.website-logo {
    width: 150px;
    margin-top: 1rem;
}
.portfolio-outer {
    height: 100%;
    align-content: flex-end;
    .portfolio-title {
        color: $light-green-text;
        text-decoration: underline;
    }
    .skills-used {
        color: $white;
        text-decoration: underline;
        margin-top: 10px;
    }
    .d-flex {
        display: flex;
        justify-content: space-between;
        .skill-link-header {
            display: block;
            width: 100%;
            height: 100%;
        }
        .skill-logos {
            display: block;
            .skillsUsed-icon {
                width: 40px;
            }
        }
    }
}
.description-heading {
    color: $light-green-text;
}
.description {
    margin-top: 0px;
    color: wheat;
    padding-bottom: 30px;
}
