<div class="clr-row">
  <div class="clr-col-sm-12">
    <h2 class="my-skills-heading">My Portfolio:</h2>
  </div>
</div>
<!--EACH PORTFOLIO ITEM-->
<div class="swiper-container" [swiper]="swiperSetup">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let portfolio of portfolioItems">
      <div class="clr-row">
        <div class="clr-col-sm-12 clr-col-md-4 clr-col-lg-3 photo-outer">
          <img class="website-logo" src="{{portfolio.photoUrl}}" alt="">
        </div>
        <div class="clr-col-sm-12 clr-col-md-7">
          <div class="clr-row portfolio-outer">
            <div class="clr-col-sm-12 ">
              <h3 class="portfolio-title">{{portfolio.title}}</h3>
            </div>
            <div class="clr-col-sm-12">
              <p class="description-heading">{{portfolio.subSkills}}</p>
            </div>
            <div class="clr-col-sm-12">
              <p class="skills-used">Skills Used:</p>
            </div>
            <div class="clr-col-sm-12 clr-col-md-6 d-flex">
              <div class="skill-logos clr-col" *ngFor="let skillsUsed of portfolio.listOfSkills">
                <img class="skillsUsed-icon" src="{{skillsUsed.photoSkill}}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row text-stuff ">
        <div class="clr-sm-col-12 clr-col-md-8 clr-offset-md-1">
          <p class="description-heading">Description:</p>
        </div>
        <div class="clr-col-sm-12 clr-col-md-8 clr-offset-md-1">
          <p class="description" [innerHTML]="portfolio.description"></p>
        </div>
        <div class="clr-col-sm-12 clr-col-md-8 clr-offset-md-1">
          <button class="btn btn-primary">View Site</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->
</div>
