<section>

  <div class=" portfolio-item-outer-div" style="display: flex;">
    <div class="clr-col-sm-12 clr-col-md-3 clr-offset-md-1">
      <img class="portfolio-img" src="../../../assets/marginbuddy.png" alt="">
    </div>
    <div class="clr-col-sm-12 clr-col-md-8">
      <h2 class="portfolio-heading">Marginbuddy.com.au - <span style="color: white; font-size: 15px;">(Fullstack Web Development)</span> </h2>
    </div>
    <div class="portfolio-skills-row">
      <p></p>
    </div>
  </div>
</section>