@import "../../../appstylings.scss";

//portfolio-item-outer-div

.portfolio-item-outer-div {
    padding-top: 50px;
    .portfolio-img {
        width: 100%;
        max-width: 250px;
    }
    .portfolio-heading {
        color: $light-green-text;
        margin: 0px;
    }
}

.arrow {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    color: white;
    font-size: 50px;
    padding-top: 19px;
}