@import "../appstylings.scss";

.mySkills {
  color: white;
  text-decoration: underline;
  padding-bottom: 20px;
}
#CMD-PROMPT {
  background-color: $light-background;
  padding: 100px 20px;
  min-height: 100%;
  .topbar {
    height: 30px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2a3a;
    .icons-topbar {
      display: flex;
    }
    .topbar-home-img {
      width: 20px;
      margin-right: 20px;
    }
    .topbar-img {
      width: 20px;
      margin-right: 20px;
      padding: 5px;
    }
    .closes {
      background-color: #ff605c;
      border-radius: 15px;
    }
    .warn {
      background-color: #ffbd44;
      border-radius: 15px;
    }
    .min {
      background-color: #00ca4e;
      border-radius: 15px;
    }
  }
  p {
    font-family: monospace;
    color: yellow;
    letter-spacing: 0.05em; /* Adjust as needed */
    margin-top: 0px;
  }
  .text-intro {
    padding-top: 30px;
    color: white;
  }
  .main-body {
    display: flex;
    min-height: 800px;
    background-color: rgb(59, 61, 80);
  }
  .mac-background {
    padding: 20px 20px;
  }

  .terminal-output-li {
    margin-top: 5px;
    color: #f5921e;
    padding-left: 15px;
  }
  .clr-control-container {
    width: 100%;
  }
  .active-link {
    .terminal-output-li {
      color: white;
      text-decoration: underline;
    }
  }
  .clr-form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    .clr-control-label {
      color: yellow;
      width: 50px;
    }
  }
  .clr-input {
    width: 100%;
    color: white;
    font-weight: 400px;
    border: none;
    background: none;
  }
  .myskills {
    color: white;
  }
}
