<section id="CMD-PROMPT">
  <div class="clr-row" style="min-width: 100%;">
    <div class="clr-col-sm-12 clr-col-md-10   clr-offset-md-1">
      <div class="clr-col-sm-12 topbar">
        <div class="icons-topbar clr-col-6">
          <div class="">
            <img class="topbar-img closes" src="../../../assets/reddit.svg" alt="" />
          </div>
          <div>
            <img class="topbar-img warn" src="../../../assets/github.svg" alt="" />
          </div>
          <div>
            <img class="topbar-img min" src="../../../assets/codewars.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="clr-col-12 main-body">
        <div class="clr-col-sm-12 mac-background">
          <div class="clr-row">
            <div class="clr-col-12">
              <p class=" text-intro">
                $ Thomas.Greetings
              </p>
            </div>
            <div class="clr-col-sm-12">
              <p class="">
                "Hey there, I'm Thomas.
              </p>
              <p>
                I've been developing fullstack web applictions for ~2 years.
                <br />
                Enter any of the commands below to explore the site, enjoy!"
              </p>
            </div>
            <div class="clr-col-6 clr-col-sm- clr-col-md-4 clr-col-lg-2">
              <ul class="">
                <a [routerLink]="['/', 'portfolio']" routerLinkActive="active-link">
                  <li class="terminal-output-li ">Portfolio</li>
                </a>
                <a [routerLink]="['/', 'skills']" routerLinkActive="active-link">
                  <li class="terminal-output-li ">Skills</li>
                </a>
                <a [routerLink]="['/', 'about']" routerLinkActive="active-link">
                  <li class="terminal-output-li ">About</li>
                </a>

              </ul>
            </div>
            <div class="clr-col-6 clr-col-md-4 clr-col-lg-2">

              <ul class="">
                <a [routerLink]="['/', 'resume']" routerLinkActive="active-link">
                  <li class="terminal-output-li ">Resume</li>
                </a>
                <a [routerLink]="['/', 'contact']" routerLinkActive="active-link">
                  <li class="terminal-output-li ">Contact</li>
                </a>
                <a [routerLink]="['/', 'clear']">
                  <li class="terminal-output-li ">Clear</li>
                </a>
                <!-- <li class="terminal-output-li">Game</li>    -->
              </ul>
            </div>
            <div class="clr-col-sm-12">
              <form autocomplete="off" class="clr-form clr-form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="clr-form-control">
                  <label for="example" class="clr-control-label">tsmith$</label>
                  <div class="clr-control-container">
                    <div class="clr-input-wrapper">
                      <input #commandLine autofocus="true" formControlName="command" type="text" id="example"
                        placeholder="" class="clr-input" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="clr-col-sm-12" *ngIf="errorCommand">
              <div class="alert alert-danger">
                <div class="alert-items">
                  <div class="alert-item static" role="alert">
                    <div class="alert-icon-wrapper">
                      <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                      <b>'{{ commandError }}' is not recognised as an internal
                        or external command</b>
                    </span>
                  </div>
                </div>
                <button type="button" class="close" aria-label="Close" (click)="closeButton()">
                  <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
              </div>
            </div>
            <div class="clr-col-sm-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
