@import "../../../appstylings.scss";

@import '~swiper/dist/css/swiper.min.css';

.sub-skills-text {
    text-decoration: underline;
    color: $light-green-text;
    @media (max-width: 754px) {
      padding-left: 0px;
     }
     .blog-posts {
       font-size: .5rem;
     }
}
.b-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:  0px 60px;
}
.click-me {
  font-size: 10px;
}
// SKILL IMGS
.skill-icon-outer {
  display: flex;
  padding: 40px 0px;
  @media (max-width: 754px) {
    align-items: center;
   }
  > a {
    text-decoration: none;
  }
    .skill-icon {
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .skill-heading {
        margin-top: 10px;
        color: $white;
    }
    .d-flex {
        display: flex;
        flex-direction: column;
        &:hover {
          cursor: pointer;
          .skill-heading {
            color: $light-green-text;
          }
      }
    }
    .skill-list {
      color: $light-green-text;
    }
}






