<div class="clr-row" style="max-width: 100%;">
  <div class="clr-col-sm-12">
    <h4 class="sub-skills-text">
      {{ skillend }} <span class="blog-posts">...(click for blog posts)</span>
    </h4>
  </div>
</div>

<!--SKILL ICON-->
<!--SLIDER HERE-->
<swiper class="swiper-container" [config]="swiperSetup2">
  <div *ngFor="let skill of skillsArray" class="swiper-slide">
      <div class=" skill-icon-outer  t">
        <a [routerLink]="['/skills/', skill.url]">
          <div class="d-flex hvr-bob">
            <div class="logo-row">
              <img
                class="skill-icon"
                src="{{ logo }}"
                alt=""
                *ngFor="let logo of skill.photoUrl"
              />
            </div>
            <div class="">
              <h5 class="skill-heading">{{ skill.title }}</h5>
            </div>
          </div>
        </a>
      </div>
  </div>
</swiper>
