@import "../../../appstylings.scss";

.about-me-intro {
    padding: 20px 0px;
    color: $white;
}
.about-me-sub-heading {
    color: $light-green-text;
    border-bottom: 1px solid $light-green-text;
    padding-top: 30px;
    margin-bottom: 50px;
}
.aboume-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme-img {
    width: 75px;
    display: block;
    margin: auto;
    margin: 20px 0px;
}
small {
  color: $white;
}
