<section id="about-me">
  <div class="clr-row">
    <div class="col-12 clr-col-md-10 clr-offset-md-1">


      <div class="clr-row">
        <div class="clr-col-sm-12">
          <h2 class="text-center about-me-intro">Here's a little about me:</h2>
        </div>
      </div>
      <!--DISLIKES-->
      <div class="clr-row">
        <div class="clr-col-sm-12 ">
          <h4 class="about-me-sub-heading">Dislikes:</h4>
        </div>
        <div class="aboume-img-div clr-col-6 clr-col-md-6"><img src="../../../assets/spider.svg" class="aboutme-img"
            alt=""></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-6"><img src="../../../assets/snake.svg" class="aboutme-img"
            alt=""></div>
      </div>
      <!--LIKES-->
      <div class="clr-row">
        <div class="clr-col-sm-12 ">
          <h4 class="about-me-sub-heading">Likes:</h4>
        </div>
        <div class="aboume-img-div clr-col-6 clr-col-md-3"><img src="../../../assets/coffee.svg" class="aboutme-img"
            alt=""></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-3"><img src="../../../assets/fast-food.svg" class="aboutme-img"
            alt=""></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-3"><img src="../../../assets/cheers.svg" class="aboutme-img"
            alt=""></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-3"><img src="../../../assets/cinema.svg" class="aboutme-img"
            alt=""></div>
      </div>
      <!--HOBBIES ROW-->
      <div class="clr-row">
        <div class="clr-col-sm-12 ">
          <h4 class="about-me-sub-heading">Hobbies:</h4>
        </div>
        <div class="aboume-img-div clr-col-6 clr-col-md-3"><img src="../../../assets/chess.svg" class="aboutme-img"
            alt=""></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-3"><img src="../../../assets/gamepad.svg" class="aboutme-img"
            alt=""></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-3"><img src="../../../assets/cricket.svg" class="aboutme-img"
            alt=""></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-3"><img src="../../../assets/pan.svg" class="aboutme-img"
            alt=""></div>
      </div>
      <!--Siblings row-->
      <div class="clr-row">
        <div class="clr-col-sm-12 ">
          <h4 class="about-me-sub-heading">Siblings:</h4>
        </div>
        <div class="aboume-img-div clr-col-6 clr-col-md-2"><img src="../../../assets/female.svg" alt=""
            class="aboutme-img"></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-2"><img src="../../../assets/female.svg" alt=""
            class="aboutme-img"></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-2"><img src="../../../assets/female.svg" alt=""
            class="aboutme-img"></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-2"><img src="../../../assets/female.svg" alt=""
            class="aboutme-img"></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-2"><img src="../../../assets/female.svg" alt=""
            class="aboutme-img"></div>
        <div class="aboume-img-div clr-col-6 clr-col-md-2"><img src="../../../assets/female.svg" alt=""
            class="aboutme-img"></div>
        <div class="clr-col-sm-12">
          <p class="text-center"><small class="">( yep, 6 sisters )</small></p>
        </div>
      </div>
    </div>
  </div>
</section>