<div class="clr-row">
  <div class="clr-col-sm-12">
    <h3 class="lets-talk">Hey, There! Let's talk ;)</h3>
  </div>
</div>
<form clrForm>
  <clr-input-container>
    <label class="form-label">Your Name</label>
    <input clrInput type="text" [(ngModel)]="name" name="example" />
  </clr-input-container>
  <clr-input-container>
    <label class="form-label">Your Email</label>
    <input clrInput type="text" [(ngModel)]="name" name="example" />
  </clr-input-container>
  <clr-textarea-container>
    <label class="form-label">Your Message</label>
    <textarea clrTextarea [(ngModel)]="description" name="Your Message"></textarea>
  </clr-textarea-container>
</form>