<div class="clr-col-sm-12">
    <h2 class="myskills">My Skills:</h2>
  </div>
  <div class="clr-col-sm-12 clr-col-md-10 clr-offset-md-1" stlye="min-height: 400px;">
    <router-outlet  #o="outlet" name="fe-skills"></router-outlet>
  </div>
  <div class="clr-col-sm-12 clr-col-md-10 clr-offset-md-1">
      <router-outlet stlye="min-height: 200px;" #o="outlet" name="be-skills"></router-outlet>
  </div>
